{% extends 'testapp/base.html' %}

{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
{% endblock %}

{% block content %}
  <div class="container">
      <div class="row my-4">
          <canvas id="myChart"></canvas>
      </div>
      <input type="hidden" id="chart_labels" name="chart_labels" value="{{ c.chart_labels }}">
      <input type="hidden" id="chart_title" name="chart_title" value="{{ c.chart_title }}">
      <input type="hidden" id="chart_target" name="chart_target" value="{{ c.chart_target }}">
      <input type="hidden" id="chart_data" name="chart_data" value="{{ c.chart_data }}">
  </div>
      <script type="text/javascript" src="static/js/graph.js"></script>
{% endblock %}